$enable-shadows: true;
$primary: #ff7a59;
$dark: #0091ae;
$info: #007bff;
$message: #007bff;
$secondary: #026073;

$body-color:  #333;
$body-bg: #f2f2f2;

@import "./LectureTile.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
